<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header pt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <div class=" col-md-6  col-12 main_header_right">
                        <figure>
                            <img src="./images/about.png" class="img-fluid" />
                        </figure>
                    </div>
                    <div class=" col-md-6  col-12 main_header_left mt-5 pt-3">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <span class="text_clr"> Mern stack developer </span> and a student</h1>
                        <a href="https://www.linkedin.com/in/moksha-gandhi-91711b281"><button>about me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>